1. The MickeyMouse problem

a) Write a program that prints the numbers from 1 to 100. But for multiples of 3 print `Mickey` instead of the corresponding number and for the multiples of 5 print `Mouse`. For numbers which are multiples of both three and five print `MickeyMouse` 

the if with x%15==0 must be placed before everything because if we do %3 and %5 before the %15 will never be done. 

b) Put the result in a tuple and substitute `Mickey` with `Donald` and `Mouse` with `Duck`

In [22]:
y=['MickeyMouse' if x%15==0 else'Mickey' if x%3==0 else 'Mouse' if x%5==0 else x for x in range(1,101)]
print(y)

[1, 2, 'Mickey', 4, 'Mouse', 'Mickey', 7, 8, 'Mickey', 'Mouse', 11, 'Mickey', 13, 14, 'MickeyMouse', 16, 17, 'Mickey', 19, 'Mouse', 'Mickey', 22, 23, 'Mickey', 'Mouse', 26, 'Mickey', 28, 29, 'MickeyMouse', 31, 32, 'Mickey', 34, 'Mouse', 'Mickey', 37, 38, 'Mickey', 'Mouse', 41, 'Mickey', 43, 44, 'MickeyMouse', 46, 47, 'Mickey', 49, 'Mouse', 'Mickey', 52, 53, 'Mickey', 'Mouse', 56, 'Mickey', 58, 59, 'MickeyMouse', 61, 62, 'Mickey', 64, 'Mouse', 'Mickey', 67, 68, 'Mickey', 'Mouse', 71, 'Mickey', 73, 74, 'MickeyMouse', 76, 77, 'Mickey', 79, 'Mouse', 'Mickey', 82, 83, 'Mickey', 'Mouse', 86, 'Mickey', 88, 89, 'MickeyMouse', 91, 92, 'Mickey', 94, 'Mouse', 'Mickey', 97, 98, 'Mickey', 'Mouse']

2\. The swap function

Write a function that swap the values of two input variables x and y (whatever the type). Try to do that also without a temporary variable

In [25]:
#with temporary variables
x=input('Set the value of x ')
y=input('Set the valure of y ')
print('x = '+ x)
print('y = '+ y)
a=y
b=x
x=a
y=b
print('x = ' + x)
print('y = '+ y)

Set the value of x  3
Set the valure of y  5

x= 3
y= 5
x= 5
y= 3

In [26]:
#without a temporary variable
x=input('Set the value of x ')
y=input('Set the valure of y ')
print('x = '+ x)
print('y = '+ y)
x,y=y,x
print('x = ' + x)
print('y = '+ y)

Set the value of x  3
Set the valure of y  5

x= 3
y= 5
x= 5
y= 3

3\. Computing the distance

Write a function that calculates and returns the euclidean distance between two points *u* and *v*, where *u* and *v* are both 2-tuples *(x,y)*. For example, if *u=(3,0)* and *v=(0,4)*, the function should return 5

With the 2-tuples in input we should sai to python that the inputs are float, because the inputs are strings in basic. Otherwise he can't do the math operations after.

In [33]:
u = (3,0)
v = (0,4)
distance =((u[0] - v[0])**2 + (u[1] - v[1])**2)**0.5
print(distance)

5.0

In [37]:
u_0=float(input('Set u[0] : '))
u_1=float(input('Set u[1] : '))
v_0=float(input('Set v[0] : '))
v_1=float(input('Set v[1] : '))
u = (u_0, u_1)
v = (v_0, v_1)
distance =((u[0] - v[0])**2 + (u[1] - v[1])**2)**0.5
print(distance)

Set u[0] :  2
Set u[1] :  0
Set v[0] :  2
Set v[1] :  0

0.0

4\. Counting letters

Write a program to calculate the number of times each character occurs in a given string *s*. Ignore differneces in capitalization

In [47]:
s = "Write a program that prints the numbers from 1 to 100. \
But for multiples of three print Mickey instead of the number and for the multiples of five print Mouse. \
For numbers which are multiples of both three and five print MickeyMouse"
# Convert to lowercase to ignore capitalization
s = s.lower()
# Dictionary to store counts
char_count = {}

for char in s:
    if char.isalpha():  # consider only letters (ignore spaces/punctuation)
        if char in char_count:
            char_count[char] += 1
        else:
            char_count[char] = 1

# Print the results
for char, count in sorted(char_count.items()):
    print(f"{char}: {count}")

a: 7
b: 5
c: 3
d: 3
e: 22
f: 10
g: 1
h: 9
i: 14
k: 2
l: 6
m: 12
n: 10
o: 13
p: 8
r: 17
s: 9
t: 19
u: 9
v: 2
w: 2
y: 2

5\. Isolating the unique

Write a function that determines and count the unique numbers in the list *l*

In [19]:
from collections import Counter

def unique_numbers(lst):
    # Count the frequency of each number
    counts = Counter(lst)
    # Keep only numbers that appear exactly once
    unique_once = [num for num, freq in counts.items() if freq == 1]
    count = len(unique_once)
    return unique_once, count

# Your list
l = [36, 45, 58, 3, 74, 96, 64, 45, 31, 10, 24, 19, 33, 86, 99, 18, 63, 70, 85,
     85, 63, 47, 56, 42, 70, 84, 88, 55, 20, 54, 8, 56, 51, 79, 81, 57, 37, 91,
     1, 84, 84, 36, 66, 9, 89, 50, 42, 91, 50, 95, 90, 98, 39, 16, 82, 31, 92, 41,
     45, 30, 66, 70, 34, 85, 94, 5, 3, 36, 72, 91, 84, 34, 87, 75, 53, 51, 20, 89, 51, 20]

unique_once, count = unique_numbers(l)
print("Numbers appearing exactly once:", unique_once)
print("Count of numbers appearing exactly once:", count)

Numbers appearing exactly once: [58, 74, 96, 64, 10, 24, 19, 33, 86, 99, 18, 47, 88, 55, 54, 8, 79, 81, 57, 37, 1, 9, 95, 90, 98, 39, 16, 82, 92, 41, 30, 94, 5, 72, 87, 75, 53]
Count of numbers appearing exactly once: 37

6\. Combination of functions

Write two functions - one that returns the square of a number, and one that returns the cube. Now write a third function that returns the number raised to the 6th power using the two previous functions.

In [27]:
def square(float):
    x = float**2
    return x
def cube(float):
    y = float**3
    return y
def sixth(float):
    z = square(cube(float))
    return z

x = float(input('Set x: ' ))
y = square(x)
z = cube(x)
w = sixth(x)
print('The square of x is: ', y)
print('The cube of x is: ', z)
print('The 6th power of x is: ', w)

Set x:  2

The square of x is:  4.0
The cube of x is:  8.0
The 6th power of x is:  64.0

In [29]:
def square(x):
    return x**2
def cube(x):
    return x**3
def sixth(x):
    return square(cube(x))

x = float(input('Set x: ' ))
y = square(x)
z = cube(x)
w = sixth(x)
print('The square of x is: ', y)
print('The cube of x is: ', z)
print('The 6th power of x is: ', w)

Set x:  3

The square of x is:  9.0
The cube of x is:  27.0
The 6th power of x is:  729.0

7\. Cubes

Create a list of the cubes of x for x in *[0, 10]* using:

a) a for loop

b) a list comprehension

In [36]:
#with the for loop
l = [] #create an empty list
for i in range(11):
    l.append(i**3)
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [41]:
#with the list comprehension
l = [i**3 for i  in range(11)]
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

8\. Nested list comprehension

A Pythagorean triple is an integer solution to the Pythagorean theorem $a^2+b^2=c^2$. The first Pythagorean triple is (3,4,5). Find and put in a tuple all unique Pythagorean triples for the positive integers a, b and c less than 100.

In [ ]:
# Using nested list comprehension
pythagorean_triples = tuple(
    (a, b, c)
    for a in range(1, 100)
    for b in range(a, 100)      # start from a to avoid duplicates like (4,3,5)
    for c in range(b, 100)      # start from b to ensure c >= b >= a
    if a**2 + b**2 == c**2
)

print(pythagorean_triples)
print("Total triples found:", len(pythagorean_triples))

9\. Normalization

Write a function that takes a tuple of numbers and returns it with the entries normalized to one

In [51]:
def normalization(t):
    total = sum(t)
    if total == 0:
        return(t)
    return(tuple(round(x/total,1) for x in t))

s = input('Write a tuple of numbers: ')
t = tuple(float(x) for x in s.split())
norm = normalization(t)
print(norm)

Write a tuple of numbers:  0 0 0

(0.0, 0.0, 0.0)